@charset "utf-8";
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SUIT-Regular";
}
body.mosquito {
  background-color: rgba(32, 32, 45, 0.1);
}
p {
  margin-bottom: 0.8rem;
  line-height: 1.5rem;
}
body.star {
  background-color: rgba(241, 237, 217, 0.5);
}

body.star h2.notice {
  color: #b89c79;
}
body.star h2.notice::after {
  background: #b89c79;
}

body.event {
  background-color: rgba(0, 0, 0, 0.5);
}
.inner {
  max-width: 900px;
  margin: 0 auto;
}
.session_card {
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}
p {
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
p span.name {
  flex-shrink: 0;
}
.notice {
  justify-content: center;
  text-align: center;
}
h2.notice {
  text-align: justify;
  font-size: 1.5rem;
  font-weight: bold;
}
body h2.notice {
  position: relative;
  margin-bottom: 1.2em;
}
body h2.notice::after {
  position: absolute;
  bottom: -0.6em;
  left: 0;
  content: "";
  display: block;
  width: 50px;
  height: 5px;
}
.roll {
  text-align: center;
  font-size: 1.1em;
}
.willow {
  color: #a2c153;
}
.oblectatio {
  color: #972a27;
}
.master {
  background-color: rgba(1, 1, 1, 0.07);
  padding: 15px 2% 10px;
  margin: 20px 0 5px;
  position: relative;
}
.master p:last-of-type {
  margin-bottom: 0;
}
.master h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);
  padding: 2px 6px 1px;
  background-color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
}
.credit {
  color: #000;
  text-align: center;
  width: 60%;
  padding: 10px 2%;
  background: rgba(1, 1, 1, 0.07);
  margin: 10px auto 10px;
}
.credit p {
  display: block;
  margin-bottom: 0.3rem;
}
.credit .notice {
  display: block;
}
@media (max-width: 900px) {
  .inner {
    padding: 0 3vw;
  }
}

@media (max-width: 700px) {
  .inner {
    padding: 0 5vw;
  }
  .credit {
    width: 70%;
  }
}

@media (max-width: 540px) {
  .credit {
    width: 100%;
  }
}

@media (max-width: 540px) {
  body {
    font-size: 15px;
  }
}
